// #======================================#
// #     _____       _ _       _  _       #
// #    |  __ \     (_) |     | || |      #
// #    | |__) |__ _ _| |___  | || |_     #
// #    |  _  // _` | | / __| |__   _|    #
// #    | | \ \ (_| | | \__ \    | |      #
// #    |_|  \_\__,_|_|_|___/    |_|      #
// #                                      #
// #======================================#

// Groups
fieldset {
  border: none;
  padding: 0;
}
.cw-form {
  position: relative;
  margin-left: 0;
  margin-right: 0;
  padding: $gutterHeight $gutterWidth;
  background-color: $blueLight;
  article & {
    background-color: $grayLighterer;
  }
  &.cw-form-plain {
    background-color: transparent;
    padding: 0;
  }
  &.cw-in_progress {
    pointer-events: none;
    .control-group {
      opacity: 0.25;
      filter: alpha(opacity=25);
    }
    &:before {
      content: " ";
      position: absolute;
      left: 0;
      right: 0;
      height: 32px;
      background: url("/images/loading.gif") center center no-repeat;
    }
  }
  .control-group {
    position: relative;
    overflow: hidden;
    padding: 0 0 $gutterHeight/2 $gridColumnWidth*2-$gutterWidth/2;
    &.no-label {
      padding-left: 0;
      overflow: visible;
      &.select {
        padding: 0;
      }
      &.contact {
        font-size: 14px;
        .category {
          padding-top: $gutterHeight*2;
          .text {
            padding-bottom: $gutterHeight;
            .lowercase {
              text-transform: lowercase;
              display: inline;
              @include font-weight-medium;
            }
          }
          ul {
            padding: 0;
            margin-bottom: $gutterHeight*2;
            li {
              border-top: 1px solid $grayLighter;
              padding: 15px 0 0 0;
              list-style-type: none;
              margin-left: 0;
              .question {
                @include font-weight-medium;
                a {
                  &:before {
                    content: '\25B8';
                    padding-right: $gutterWidth/4;
                    display: inline-block;
                    width: 1em;
                  }
                  color: $black;
                  text-decoration: none;
                }
              }
              .answer {
                padding: 0 0 20px 20px;
                display: none;
              }
              &.open {
                .question {
                  a {
                    &:before {
                      content: '\25BE';
                    }
                    color: $blue;
                  }
                }
                .answer {
                  display: block;
                }
              }
            }
            & li:last-child {
              border-bottom: 1px solid $grayLighter;
            }
          }
        }
      }
      .help-block {
        padding: 0 0 ($gutterHeight / 4) 0;
      }
    }
    &.block-label {
      padding-left: 0;
      overflow: visible;
      .label {
        display: block;
        float: none;
        width: auto;
        margin-left: 0;
        padding-top: 0;
      }
      .help-block {
        padding: 0 0 ($gutterHeight / 4) 0;
      }
    }
    &.terms-control-group { // merge with .control-group-checkbox ?
      padding-left: $gutterWidth;
      input[type="checkbox"] {
        float: left;
        margin: 0.1875em 0 0 (-$gutterWidth);
      }
      .help-block {
        padding: $gutterHeight/4 0;
      }
    }
    &.control-group-checkbox {
      padding-left: $gutterWidth;
      input {
        position: absolute;
        left: 0.125em;
        top: 0.125em;
        width: 1em;
        margin: 0;
        padding: 0;
      }
    }
    &.inline-submit {
      .cw-form-text {
        width: 70%;
        @include cw_mediaquery("mobile") {
          width: 66%;
        }
      }
      .cw-form-submit {
        margin-left: -0.5em;
        padding-top: $gutterHeight*0.35;
        padding-bottom: $gutterHeight*0.4;
      }
    }
    &.required {
      .label {
        &:after {
          content: "*";
          position: absolute;
          margin-left: 0.125em;
          color: $blue;
          @include font-size-xl();
        }
      }
    }
    @include cw_mediaquery("tablet_and_smaller") {
      padding-left: 0;
    }
    .label {
      float: left;
      width: $gridColumnWidth*2 - $gutterWidth*1.5;
      margin-left: -($gridColumnWidth*2 - $gutterWidth/2);
      padding-top: 0.125em;
      @include cw_mediaquery("tablet_and_smaller") {
        float: none;
        width: auto;
        margin-left: 0;
        padding-top: 0;
      }
    }
    small {
      display: block;
      color: $grayLight;
      margin: ($gutterHeight * 0.15) 1px 0 1px;
      @include font-size-s();
    }
    .help-block {
      padding: $gutterHeight/4 $gutterWidth/2;
      @include font-size-s();
    }

    // form in popups
    .mfp-content &,
    .cw_inline_modal_content & {
      margin-bottom: 0;
      &.terms-control-group {
        padding-left: $gutterWidth;
        input[type="checkbox"] {
          float: left;
          margin: 0.1875em 0 0 (-$gutterWidth);
        }
        .help-block {
          padding: $gutterHeight/4 0;
        }
      }
      input.input-block-level {
        width: 100%;
      }
    }
  }
  .cw-columns {
    margin-right: -20px;
    .control-group {
      margin-right: 20px;
    }
    .cw-columns-column {
      &.cw-columns-column-mobile_col {
        overflow: visible;
        @include font-size-normal();
        &:nth-child(odd) {
          clear: none;
        }
      }
    }
  }
  li.control-group {
    padding-bottom: $gutterHeight/4;
  }
  .submit-group {
    padding: $gutterHeight/2 0 0 0;
    text-align: center;
  }
  .control-group {
    .cw-box {
      > .control-group {
        padding-bottom: 0;
      }
      .alert,
      #cw_checkbox_auctions_preferences {
        margin-top: $gutterHeight/2;
      }
    }
  }
}
.cw-form-mini {
  display: inline-block;
  margin-bottom: $gutterHeight;
  overflow: hidden;
  .cw-centered & {
    margin-bottom: 0;
  }
  .cw-form-text {
    float: left;
    width: $gridColumnWidth*3 - $gutterWidth*4;
    max-width: 67%;
    .cw-centered & {
      width: $gridColumnWidth*4 - $gutterWidth*4;
    }
  }
  button {
    float: left;
    margin-left: -1px;
    padding: ($gutterHeight * 0.35) ($gutterWidth * 0.75) ($gutterHeight * 0.4) ($gutterWidth * 0.75);
  }
}



// Tags input
.bootstrap-tagsinput {
  overflow: hidden;
  padding-bottom: 2px !important;
  min-height: $gutterHeight*2 - 4;
  cursor: text;
  input {
    border: none;
    padding: 0;
    -webkit-appearance: none;
  }
  .tag {
    display: inline-block !important;
    white-space: nowrap;
    background-color: $blue;
    color: $white;
    padding: 0 $gutterWidth/4;
    margin: 0 $gutterWidth/4 $gutterHeight/4 0;;
    span {
      margin-left: $gutterWidth/4;
      @include font-weight-medium;
      cursor: pointer;
      &:after {
        @include cw_icon_font("\e06a");
      }
    }
  }
}



// Editable form
.editable-click {
  display: inline-block;
  padding-top: $gutterHeight*0.2;
  padding-bottom: $gutterHeight*0.25;
}
.editableform {
  .cw-form-text {
    width: auto;
  }
  .btn {
    margin-left: -0.5em;
    padding-top: $gutterHeight*0.35;
    padding-bottom: $gutterHeight*0.4;
  }
  @include cw_mediaquery("mobile") {
    padding-top: $gutterHeight/2;
    select {
      display: block;
      max-width: 100%;
      margin-bottom: $gutterHeight/2;
    }
    .editable-input,
    .editable-buttons {
      display: block;
      margin-bottom: $gutterHeight/2;
    }
  }
  .editable-error {
    color: $red;
    @include font-weight-medium;
    &.editable-error-block {
      max-width: none;
    }
  }
}


// Controls
#cw_masthead input,
input.input-block-level,
.form input.input-small,
.bootstrap-tagsinput,
.cw-form-text {
  @include box-sizing(border-box);
  width: 100%;
  height: auto;
  margin: 0;
  padding: ($gutterHeight/4+2) ($gutterWidth/2)-1 ($gutterHeight/4+1) ($gutterWidth/2)-1;
  background-color: $white;
  border: 1px solid $grayLighter;
  line-height: inherit;
  color: inherit;
  transition: border-color 0.2s ease-in-out;
  &:focus {
    border-color: $blue;
    box-shadow: none;
  }
  html.lt-ie10 & {
    padding-bottom: $gutterHeight/4+2;
  }
  // .cw-fontsize-s & {
  //   padding-top: $gutterHeight/4+1;
  //   padding-bottom: $gutterHeight/4;
  // }
}
body.v3 select {
  max-width: 100%;
}
input.input-small {
  width: auto;
}
#cw_masthead button,
.cw-form-submit,
html button,
button {
  padding: ($gutterHeight/4) ($gutterWidth/2) ($gutterHeight/4) ($gutterWidth/2);
  background-color: $blue;
  color: $white;
  border: none;
  cursor: pointer;
  font-size: 1em;
  line-height: inherit;
  text-transform: lowercase;
  @include font-weight-medium;
  html.lt-ie8 & {
    padding-top: 0;
    padding-bottom: 1px;
  }
  body.cw_lang_du & {
    text-transform: none;
  }
}
.cw-search_button {
  padding: ($gutterHeight / 4) !important;
  @include font-size-xl();
  font-family: "entypo", sans-serif;
}



// Error handling
body.v3 .alert {
  margin-bottom: $gutterHeight;
  padding: $gutterHeight*0.75 $gutterWidth/2;
  background-color: $orangeLighter;
  color: $black;
  text-align: center;
  @include font-size-s();
  &:last-child {
    margin-bottom: 0;
  }
  a {
    color: $orange;
  }
  &.alert-danger {
    background-color: $redLight;
    a {
      color: $red;
    }
  }
}
body.v3 #flash {
  p {
    margin-bottom: $gutterHeight;
    padding: $gutterHeight*0.75 $gutterWidth/2;
    background-color: $grayLighterer;
    color: $black;
    text-align: center;
    @include font-size-s();
    &.warning {
      background-color: $orangeLighter;
      a {
        color: $orange;
      }
    }
    &#translation_warning {
      text-align: left;
      .translation_warning-radios {
        white-space: nowrap;
        margin-left: 0.5em;
      }
    }
    &#not_available_warning{
      @include font-size-normal();
      text-align:center;
      background:$blueLight;
      padding:$gutterWidth/2;
      margin-bottom:$gutterHeight*1.25;

      i{
        vertical-align:middle;
        color:$blue;
        margin-right:$gutterWidth/2;
      }
    }
  }
  &.error p,
  p.error {
    background-color: $redLight;
    a {
      color: $red;
    }
  }
}
.control-group {
  &.error,
  &.success {
    &:before {
      position: absolute;
      margin: 0.5em 0 0 (-$gutterWidth);
    }
    &.terms-control-group {
      &:before {
        margin: 0 0 0 (-$gutterWidth*2);
      }
    }
    &.block-label {
      &:before {
        margin-top: 0;
      }
    }
  }
  &.error {
    &:before {
      @include cw_icon_font("\E06A"); // x
      color: $red;
    }
    .help-block {
      color: $red;
    }
  }
  &.success {
    &:before {
      @include cw_icon_font("\E069"); // checkmark
      color: $green;
    }
    .help-block {
      color: $green;
    }
  }
}



// Messages
.cw-message {
  position: relative;
  margin-bottom: $gutterHeight;
  padding: ($gutterHeight / 4) 0 ($gutterHeight / 4) ($gutterWidth * 1.5);
  &:before {
    @include cw_icon_font("\E069"); // checkmark
    font-size: 1.5em;
    position: absolute;
    left: 0;
    top: 0;
    color: $blue;
  }
  h2 {
    @include font-size-normal();
    margin: 0;
  }
}

.cw-alertbox {
  position: relative;
  margin-bottom: ($gutterHeight * 1.5);
  padding: ($gutterHeight / 2) ($gutterWidth) ($gutterHeight / 2) ($gutterWidth * 3);
  background-color: $grayLighterer;
  border: 1px solid $grayLighterer2;
  &:before {
    @include cw_icon_fontfamily(1em);
    content: "\E076"; // i
    font-size: 1.5em;
    position: absolute;
    left: ($gutterWidth / 2);
    top: ($gutterHeight / 4);
    color: $grayLight;
  }
  a {
    color: inherit;
    text-decoration: underline;
  }
  h2 {
    @include font-size-normal();
    margin: 0 0 ($gutterHeight / 4) 0;
    &:last-child {
      margin: 0;
    }
  }
  p:last-child {
    margin: 0;
  }
  &--error {
    background-color: $redLight;
    border-color: $red;
    h2,
    &:before {
      color: $red;
    }
    &:before {
      content: "\e074"; // forbidden
    }
  }
  &--alert {
    background-color: $orangeLighter;
    border-color: $orange;
    h2,
    &:before {
      color: $orange;
    }
    &:before {
      content: "\e079"; // exclamation mark
    }
  }
  &--success {
    background-color: $blueLighter;
    border-color: $blue;
    h2,
    &:before {
      color: $blue;
    }
    &:before {
      content: "\E069"; // checkmark
    }
  }
}

.cw-nice_select {
  width: 100%;
  height: $gutterHeight*1.5 + 2;
  -webkit-appearance: none;
  outline: none;
}
.cw-custom_select {
  position: relative;
  padding: ($gutterHeight / 4) ($gutterWidth * 1.5) ($gutterHeight / 4) ($gutterWidth / 2);
  border: 1px solid $grayLighter;
  background-color: $white;
  transition: border-color 0.2s ease-in-out;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  &.active {
    border-color: $blue;
  }
  .cw-custom_select-button {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    display: block;
    background-color: transparent;
    width: ($gutterWidth * 1.5);
    border-radius: 0 2px 2px 0;
    &:after {
      @include cw_icon_font("\e0bc");
      color: $gray;
      font-size: 16px;
      display: block;
      padding: 6px 0 0 5px;
      .cw-fontsize-s & {
        padding-top: 5px;
      }
    }
  }
}

.cw-extended_select {
  @include font-size-s();
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  table & {
    width: ($gridColumnWidth * 3 - $gutterWidth);
  }
  .cw-extended_select-selected {
    position: relative;
    padding: ($gutterHeight / 4) ($gutterWidth * 1) ($gutterHeight / 4 - 1) ($gutterWidth / 2);
    border: 1px solid $grayLighter;
    border-radius: 3px;
    background-color: $white;
    transition: border-color 0.2s ease-in-out;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: default;
    &:after {
      @include cw_icon_font("\e0bc");
      display: block;
      position: absolute;
      right: 0;
      top: ($gutterHeight / 4);
      bottom: 0;
      width: ($gutterWidth * 1);
      border-radius: 0 2px 2px 0;
      color: $gray;
      font-size: 16px;
      display: block;
    }
    &:focus {
      outline: none;
    }
  }
  .cw-extended_select-options {
    visibility: hidden;
    position: absolute;
    z-index: ($z_modal - 1);
    left: 0;
    top: 100%;
    margin: -1px 0 0 0;
    padding: 0;
    overflow-y: auto;
    background-color: $grayLighterer;
    border: 1px solid $grayLighter;
    li {
      list-style-type: none;
      border-top: 1px solid $grayLighter;
      margin-top: -1px;
      @include font-size-s();
      &:last-child {
        border-radius: 0 0 3px 3px;
      }
      a {
        display: block;
        padding: ($gutterHeight / 4 - 1) ($gutterWidth / 2 - 1) ($gutterHeight / 4 - 1) ($gutterWidth - 1);
        text-decoration: none;
        color: $black;
        cursor: pointer;
        span {
          display: block;
          color: $grayLight;
          @include font-size-xs();
        }
        &:hover,
        &:focus {
          background-color: $blue;
          color: $white;
          span {
            color: $blueMid;
          }
        }
      }
      &.active {
        a {
          &:before {
            @include cw_icon_fontfamily(1em);
            content: '\e069';
            position: absolute;
            margin-left: ($gutterWidth * -0.8);
          }
        }
      }
    }
  }
  &.open {
    .cw-extended_select-selected {
      border-radius: 3px 3px 0 0;
    }
    .cw-extended_select-options {
      visibility: visible;
    }
  }
}
