// #======================================#
// #     _____       _ _       _  _       #
// #    |  __ \     (_) |     | || |      #
// #    | |__) |__ _ _| |___  | || |_     #
// #    |  _  // _` | | / __| |__   _|    #
// #    | | \ \ (_| | | \__ \    | |      #
// #    |_|  \_\__,_|_|_|___/    |_|      #
// #                                      #
// #======================================#

// Buttons
// -------
.btn {
  display: inline-block;
  padding: $gutterHeight/4 $gutterWidth/2;
  text-align: center;
  text-decoration: none !important;
  @include font-weight-medium;
  &.btn-block {
    display: block;
  }
  &.btn-smaller {
    @include font-size-s();
  }
  &.btn-line {
    padding: ($gutterHeight / 4 - 1) ($gutterWidth / 2 - 1);
    border: 1px solid $grayLighterer2;
    color: $gray;
    background-color: $white;
    &.btn-disabled,
    &.btn-loading {
      background-color: $grayLighterer;
    }
  }
  &.btn-arrow {
    padding: ($gutterHeight * 0.4) ($gutterWidth * 0.75) ($gutterHeight * 0.35) ($gutterWidth);
    &:after {
      @include cw_icon_font("\00A0\E0BE");
    }
  }
  &.btn-facebook {
    background: $blueFacebook !important;
    color: $white !important;
    &:before {
      content: "\E0E8\00A0";
      @include cw_icon_fontfamily(1em);
    }
  }
  &.btn-twitter {
    background: $blueTwitter !important;
    color: $white !important;
    &:before {
      content: "\E0E6\00A0";
      @include cw_icon_fontfamily(1em);
    }
  }
  &.btn-renren {
    background: #005EAC !important;
    color: $white !important;
    &:before {
      content: "\e104\00A0";
      @include cw_icon_fontfamily(1em);
    }
  }
  &.btn-blue {
    background: $blue !important;
    color: $white !important;
  }
  &.btn-orange {
    background: $orange !important;
    color: $white !important;

    &:hover {
      background-color: $orange !important;
    }
  }
  &.btn-gray {
    background-color: $grayLighter;
    color: $grayMid;
  }
  &.btn-gray-light {
    background-color: $grayLighterer2;
    color: $white !important;
  }
  &.btn-mid {
    padding: $gutterHeight/2 $gutterWidth;
    @include font-size-l();
    &.btn-line {
      padding: ($gutterHeight / 2 - 1) ($gutterWidth - 1);
    }
  }
  &.btn-large {
    display: block;
    padding: $gutterHeight/2 $gutterWidth;
    @include font-size-l();
    &.btn-line {
      padding: ($gutterHeight / 2 - 1) ($gutterWidth - 1);
    }
  }
  &.btn-email {
    background: $orange;
    color: $white;
    &:before {
      @include cw_icon_font("\E11B");
      margin-right: $gutterWidth/2;
    }
  }
  &:hover,
  &:focus {
    text-decoration: none !important;
  }
  &.disabled,
  &.btn-disabled,
  &.cw_disabled {
    opacity: 0.25;
    pointer-events: none;
    html.lt-ie9 & {
      filter: alpha(opacity=25);
    }
  }
  &.cw_loading, // .cw_loading is deprecated
  &.btn-loading {
    position: relative;
    opacity: 0.5;
    color: rgba(255,255,255,0.5) !important;
    pointer-events: none;
    html.lt-ie9 & {
      filter: alpha(opacity=50);
    }
    &.btn-gray,
    &.btn-line {
      color: rgba(0,0,0,0.5) !important;
    }
    &:after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzMiAzMiIgd2lkdGg9IjMyIiBoZWlnaHQ9IjMyIiBmaWxsPSJ3aGl0ZSI+CiAgPHBhdGggb3BhY2l0eT0iLjI1IiBkPSJNMTYgMCBBMTYgMTYgMCAwIDAgMTYgMzIgQTE2IDE2IDAgMCAwIDE2IDAgTTE2IDQgQTEyIDEyIDAgMCAxIDE2IDI4IEExMiAxMiAwIDAgMSAxNiA0Ii8+CiAgPHBhdGggZD0iTTE2IDAgQTE2IDE2IDAgMCAxIDMyIDE2IEwyOCAxNiBBMTIgMTIgMCAwIDAgMTYgNHoiPgogICAgPGFuaW1hdGVUcmFuc2Zvcm0gYXR0cmlidXRlTmFtZT0idHJhbnNmb3JtIiB0eXBlPSJyb3RhdGUiIGZyb209IjAgMTYgMTYiIHRvPSIzNjAgMTYgMTYiIGR1cj0iMC44cyIgcmVwZWF0Q291bnQ9ImluZGVmaW5pdGUiIC8+CiAgPC9wYXRoPgo8L3N2Zz4K) !important;
      background-repeat: no-repeat !important;
      background-position: 50% 50% !important;
      background-size: auto 60% !important;
    }
  }
  form & {
    line-height: $gutterHeight;
  }
  span {
    text-transform: lowercase;
    body.cw_lang_du & {
      text-transform: none;
    }
  }
}
a.btn,
input.btn,
button.btn {
  cursor: pointer;
}
input.btn-large,
button.btn-large {
  margin: 0 auto;
}
input.btn-block,
button.btn-block {
  width: 100%;
}
.btn-small {
  display: inline-block;
  padding: 0 3px;
  @include font-size-xs();
  @include font-weight-medium;
  background-color: $blue;
  color: $white;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 2px;
  &:hover,
  &:focus {
    text-decoration: none;
  }
  &.btn-line {
    padding: 0 2px;
  }
}
