// #======================================#
// #     _____       _ _       _  _       #
// #    |  __ \     (_) |     | || |      #
// #    | |__) |__ _ _| |___  | || |_     #
// #    |  _  // _` | | / __| |__   _|    #
// #    | | \ \ (_| | | \__ \    | |      #
// #    |_|  \_\__,_|_|_|___/    |_|      #
// #                                      #
// #======================================#

// Footer
.cw-footer {
  .cw-columns {
    ul {
      margin-bottom: 0;
    }
  }
  .cw-socials {
    background-color: $grayLighterer3;
    color: $gray;
    @include font-size-l();
    @include font-weight-medium;
    .cw-container {
      padding: ($gutterHeight*0.75-3) 0 ($gutterHeight*0.75-1) 0;
    }
    .cw-social-media-buttons {
      float: left;
      margin-right: $gutterWidth;
      padding-top: 9px;
      p,
      #cw_home_social {
        float: left;
      }
      p {
        margin: 0 $gutterWidth/2 0 0;
        @include cw_mediaquery("tablet_and_smaller") {
          display: none;
        }
      }
    }
    .cw-social-media-links {
      float: right;
      p {
        margin: 0;
        @include cw_mediaquery("mobile") {
          .cw-social-media-text {
            display: none;
          }
        }
      }
      a {
        margin-left: $gutterWidth/4;
        color: $blue;
        @include cw_mediaquery("mobile") {
          margin-left: 0;
        }
        &:hover,
        &:focus {
          color: $blue;
        }
      }
    }
  }
  .cw_main_footer {
    background-color: $grayDark;
    color: $grayLight;
    h1, h2, a {
      color: $white;
    }
    .cw-container {
      padding-bottom: $gutterHeight*2;
    }
    .cw-payment_options {
      margin-top: $gutterHeight*2;
      img {
        display: inline;
        margin-right: 0.375em;
        vertical-align: top;
        body.v2 & {
          max-height: 16px;
        }
      }
    }
    #cw-trust_icons {
      border-top: 1px solid $gray;
      padding-top: ($gutterHeight * 2);
      .cw-trustpilot-wrapper {
        display: inline-block;
        @include cw_mediaquery("tablet_and_smaller") {
          display: block;
          margin-bottom: ($gutterHeight);
        }
      }
      .cw-trust_icons-item {
        display: inline-block;
        margin: 0 ($gutterWidth * 0.5);
        vertical-align: top;
        img {
          display: inline;
          html.lt-ie10 &,
          html.ie10 & {
            // bootstrap.css makes all img width:auto
            // so retina images will double in size in IE10 and older...
            max-width: 175px;
            max-height: 58px;
          }
        }
        &.cw-trustpilot {
          padding-top: 5px;
          color: $grayLight;
          img {
            display: block;
            margin: 0 0 10px 0;
          }
          .cw-trustpilot-count {
            display: block;
            float: left;
            margin-right: $gutterWidth;
            padding-right: $gutterWidth;
            padding-bottom: ($gutterHeight / 5);
            border-right: 1px solid $grayLight;
            text-align: right;
            img {
              display: block;
              width: 170px;
              margin: 7px 0 0 0;
            }
          }
          .cw-trustpilot-score {
            display: block;
            float: left;
            text-align: left;
            white-space: nowrap;
            q {
              color: $white;
              @include font-weight-medium;
              margin-right: 0.25em;
            }
            img {
              width: 130px;
              margin: 4px 0 0 0;
            }
          }
        }
        @include cw_mediaquery("tablet_and_smaller") {
          margin: 0 ($gutterWidth * 0.5);
          &.cw-trustpilot {
            .cw-trustpilot-count {
              margin-right: ($gutterWidth / 2);
              padding-right: ($gutterWidth / 2);
            }
          }
        }
        @include cw_mediaquery("mobile") {
          margin: 0 7px;
          @include font-size-s();
          &.cw-trustpilot {
            @include font-size-xs();
            .cw-trustpilot-count {
              img {
                width: 128px;
                height: 14px;
              }
            }
            .cw-trustpilot-score {
              img {
                width: 100px;
                height: 20px;
              }
            }
          }
        }
      }
      @include cw_mediaquery("mobile") {
        .cw-trustpilot-container {
          display: block;
        }
      }
    }
  }
  .cw-secondary-footer {
    padding: $gutterHeight 0;
    background-color: $grayLessDark;
    color: $grayLight;
    @include cw_mediaquery("mobile") {
      @include font-size-s();
      .cw-list-inline li:after {
        margin: 0 0.25em;
      }
    }
    a {
      color: $white;
    }
  }
}



// App signup
.app_signup_link {
  margin-bottom: $gutterHeight*0.75;
  line-height: 1.143;
  a {
    position: relative;
    display: block;
    min-height: 2em;
    padding-left: 2.143em;
    &:before {
      @include cw_icon_font("\E001");
      font-size: 2em;
      color: $blue;
      position: absolute;
      left: 0;
      top: 0;
    }
    &:hover,
    &:focus {
      &:before {
        color: $white;
      }
    }
  }
}
