//AB test stylesheet for v1 and v2 pages, included in v3-compatibility.scss
body.v1-v2{

  // search alert modal box
  &.cw_logged_in.ab-search-alert-modal{
    overflow-x:hidden;

    .ab-search-alert-modal-overlay{
      position:absolute;
      top:0;
      bottom:-500%; //Fallback for IE8
      left:-100%; //Fallback for IE8
      right:-100%; //Fallback for IE8
      bottom:-100vh;
      left:-100vw;
      right:-100vw;
      background:$black;
      opacity:0;
      z-index:1000;
      @include transition(opacity 300ms ease);
    }
    .ab-search-alert-modal-box{
      width:290px;
      padding:20px;
      position:absolute;
      right:300px;
      top:107px;
      z-index:1002;
      background:$grayLighterer;
      @include transition(transform 500ms ease);
      @include scale(0, 0, center, top);
      border-radius:3px;
      box-shadow:0 0 5px rgba(0,0,0,0.25);

      h2{
        margin:0 0 5px 0;
        @include font-size-l();
      }

      *{
        text-transform:none !important;
      }

      button{
        background-color:$orange !important;
        margin:15px auto 0;
        display:block;
        padding:8px 15px !important;
        outline:none;
      }

      &:before{
        content:" ";
        position:absolute;
        z-index:0;
        top:0;
        right:50%;
        display:block;
        width:20px;
        height:20px;
        margin-right:-10px;
        margin-top:-10px;
        background-color:$grayLighterer;
        overflow:hidden;
        -webkit-transform:rotate(45deg);
        transform:rotate(45deg);
      }
    }
    #cw-searchbox{
      z-index:1001;
    }
    &.ab-search-alert-modal-open{
      overflow:hidden;

      #cw-searchbox{
        #cw_main_search:before{
          content:' ';
          position:absolute;
          left:0;
          top:0;
          right:0;
          bottom:0;
        }
      }
      .ab-search-alert-modal-overlay{
        opacity:0.5;
      }
      .ab-search-alert-modal-box{
        @include scale(1, 1, center, top);
      }
    }
  }
}

//More prominent advantages for registration popup
#ab_more_prominent_advantages_for_registration{
  margin-top:-($gutterHeight*1.5);
  margin-left:-($gutterHeight*1.5);
  margin-bottom:$gutterHeight;
  padding:($gutterHeight*1.5) ($gutterHeight*1.5) ($gutterHeight/4);
  width:200%;

  > *{
    width:50%;
  }
}

//No menu in header on seller pages
body.cw_header_no_menu{
  padding-top:($headerHeight - ($gutterHeight*1.5));

  #cw_masthead{
    height:($headerHeight - ($gutterHeight*1.5));

    #logo {
      bottom:($gutterHeight * 0.9);
    }
    #cw-searchbox{
      bottom:($gutterHeight * 1.25);
    }
    #cw_nav_bar{
      display:none;
    }
  }
}

//Auction lot wizard
.auction_lot_wizard{
  #search input{
    box-shadow:none !important;
    @include font-size-normal;
    padding:6px;
  }
}
#last_chosen_auctions{
  margin-bottom:$gutterHeight;

  .auction_links{
    a{
      width:($gutterHeight * 11.6);
      display:inline-block;
      margin-left:($gutterHeight * 0.8);
      line-height:($gutterHeight * 1.2);

      &:first-child{
        margin:0;
      }
    }
  }
}
.ui-autocomplete{
  list-style:none;
  max-height:($gutterHeight * 11.5);
  overflow-y:scroll;
  overflow-x:hidden;
  box-shadow:0px ($gutterHeight/10) ($gutterHeight/4) 0px rgba(0,0,0,0.25);
  border-radius:0 !important;

  .ui-menu-item{
    padding:($gutterHeight/5) (($gutterHeight/2)-3);

    &:hover{
      background:$blue;
      cursor:pointer;

      a{
        color:$white !important;
      }
      .ui-state-highlight{
        background:none !important;
        color:$white !important;
      }
    }
    a{
      background:none !important;
      font-weight:normal !important;
      color:$black !important;
      border:0 !important;
      @include font-size-s;
      font-family:"ProximaNova",Helvetica,Arial,sans-serif;

      .ui-state-highlight{
        border:0 !important;
        font-weight:bold;
      }
    }
  }
}

.cw_header_container{
  .ab_improved_complete_profile_content{
    display:none !important;
  }
}
