// #======================================#
// #     _____       _ _       _  _       #
// #    |  __ \     (_) |     | || |      #
// #    | |__) |__ _ _| |___  | || |_     #
// #    |  _  // _` | | / __| |__   _|    #
// #    | | \ \ (_| | | \__ \    | |      #
// #    |_|  \_\__,_|_|_|___/    |_|      #
// #                                      #
// #======================================#

// General patterns, that are not specific for Catawiki

@import "variables";
@import "mixins";



// page layout
// -----------
.wrapper {
  position: relative;
  width: $width_medium;
  margin: 0 auto;
}
.cw-content {
  display: block;
  padding: 0 $gutterWidth/2;
}
.cw-columns {
  clear: both;
  list-style-type: none;
  margin: 0 0 $gutterHeight*2 0;
  padding: 0;
  @include clearfix;
  @include cw_mediaquery("mobile") {
    margin-bottom: 0;
  }
  &.cw-columns-no_margin {
    margin-bottom: 0;
  }
  &.cw-columns-line {
    .cw-columns-column {
      box-shadow: inset -1px 0 0 0 $grayLighterer2, -1px 0 0 0 $grayLighterer2;
      &:first-child {
        box-shadow: inset -1px 0 0 0 $grayLighterer2;
      }
      &:last-child {
        box-shadow: -1px 0 0 0 $grayLighterer2;
      }
    }
  }
  p:last-child {
    margin: 0;
  }
  img {
    max-width: 100%;
    height: auto;
  }
  .cw-columns-column {
    float: left;
    &.cw-columns-column-new_row {
      clear: left;
    }
  }
  .cw-columns-column-1_2 { width: 50%; }
  .cw-columns-column-1_3 { width: 33.333%; }
  .cw-columns-column-2_3 { width: 66.667%; }
  .cw-columns-column-1_4 { width: 25%; }
  .cw-columns-column-2_4 { width: 50%; }
  .cw-columns-column-3_4 { width: 75%; }
  .cw-columns-column-1_5 { width: 20%; }
  .cw-columns-column-2_5 { width: 40%; }
  .cw-columns-column-3_5 { width: 60%; }
  .cw-columns-column-4_5 { width: 80%; }
  .cw-columns-column-1_6 { width: 16.667%; }
  .cw-columns-column-2_6 { width: 33.333%; }
  .cw-columns-column-3_6 { width: 50%; }
  .cw-columns-column-4_6 { width: 66.667%; }
  .cw-columns-column-5_6 { width: 83.333%; }
  @include cw_mediaquery("mobile") {
    .cw-columns-column {
      float: none;
      width: auto;
      margin-bottom: $gutterHeight;
      &.cw-columns-column-mobile_col {
        float: left;
        @include font-size-s();
        h2 {
          @include font-size-s();
          @include font-weight-bold;
        }
        overflow: hidden;
        width: 50% !important;
        &:nth-child(odd) {
          clear: left;
        }
      }
    }
    &.cw-columns-no_margin {
      .cw-columns-column {
        margin-bottom: 0;
      }
    }
    &.cw-columns-line {
      .cw-columns-column {
        box-shadow: none !important;
        border-bottom: 1px solid $grayLighterer2;
        padding-bottom: $gutterHeight;
        margin-bottom: ($gutterHeight - 1);
        &:last-child {
          border-bottom: none;
          padding-bottom: 0;
          margin-bottom: 0;
        }
      }
    }
  }
}
.cw-grid {
  position: relative;
  overflow: hidden;
  .cw-content & {
    margin-left: -$gutterWidth/2;
    margin-right: -$gutterWidth/2;
  }
  .cw-grid-unit {
    float: left;
    position: relative;
    left: 100%;
    width: 100%;
    margin-left: -100%;
    @for $i from 1 through 12 {
      &.cw-grid-unit-s#{$i} {
        margin-left: -$gridColumnWidth*(13-$i);
      }
      &.cw-grid-unit-w#{$i} {
        width: $gridColumnWidth*$i;
      }
    }
    &.cw-grid-unit-w2 {
      h2 {
        @include font-size-l(true);
      }
    }
    &.cw-grid-unit-w1 {
      @include font-size-s();
      h2 {
        @include font-size-normal(true);
      }
    }
    @include cw_mediaquery("tablet_only") {
      &.cw-grid-unit { // double to set specificity!
        clear: left;
        float: none;
        width: 100%;
        margin-left: -100%;
        margin-bottom: $gutterHeight*2;
        &:last-child {
          margin-bottom: 0;
        }
        @for $i from 1 through 9 {
          &.cw-grid-unit-small-s#{$i} {
            clear: none;
            float: left;
            margin-left: -$gridColumnWidth*(10-$i);
            margin-bottom: 0;
          }
          &.cw-grid-unit-small-w#{$i} {
            width: $gridColumnWidth*$i;
          }
        }
      }
    }
    @include cw_mediaquery("mobile") {
      float: none;
      position: relative;
      left: 0;
      width: auto !important;
      overflow: hidden;
      margin-left: 0 !important;
      margin-bottom: $gutterHeight;
      &:last-child,
      &.no-margin-bottom {
        margin-bottom: 0;
      }
    }
  }
}
.cw-autocolumns-2 {
  @include cw_columns(2, $gutterWidth, transparent, none, 0);
  > * {
    @include cw_columns_avoidbreak();
  }
  @include cw_mediaquery("mobile") {
    @include cw_columns_count(1);
  }
}
.cw-autocolumns-3 {
  @include cw_columns(3, $gutterWidth, transparent, none, 0);
  > * {
    @include cw_columns_avoidbreak();
  }
  @include cw_mediaquery("mobile") {
    @include cw_columns_count(1);
  }
}
.cw-autocolumns-4 {
  @include cw_columns(4, $gutterWidth, transparent, none, 0);
  > * {
    @include cw_columns_avoidbreak();
  }
  @include cw_mediaquery("mobile") {
    @include cw_columns_count(1);
  }
}



// Responsiveness
// --------------
// phones - no grid
@include cw_mediaquery("mobile") {
  .wrapper {
    width: auto;
    max-width: 460px;
    margin: 0 auto;
    .cw_header_container & {
      max-width: none;
    }
  }
  .cw-hide_on_mobile {
    display: none;
  }
}
// tablets (portrait) - 12*60 grid
@include cw_mediaquery("tablet_and_smaller") {
  .cw-only_on_desktop {
    display: none;
  }
}
@include cw_mediaquery("tablet_only") {
  .wrapper {
    width: $width_small;
    margin: 0 auto;
  }
}
@include cw_mediaquery("tablet_and_bigger") {
  body.grid .wrapper,
  body .grid { /* vertical grid, horizontal grid */
    background-color: rgba(0,0,0,0);
    background-image: linear-gradient(rgba(0,0,0,0.1) 1px, transparent 1px),
                      linear-gradient(90deg, transparent $gutterWidth/2, rgba(255,0,0,0.1) $gutterWidth/2, rgba(255,0,0,0.1) $gridColumnWidth - $gutterWidth/2, transparent $gridColumnWidth - $gutterWidth/2);
    background-size: $gridColumnWidth 1.25rem,
                     $gridColumnWidth 1.25rem;
    background-position: left -1px;
  }
}
@include cw_mediaquery("desktop_and_bigger") {
  .cw-hide_on_desktop {
    display: none;
  }
}
html.lt-ie9 {
  .cw-hide_on_desktop {
    display: none;
  }
}



html .cw-browser-ios,
html .cw-browser-android {
  display: none;
}
html.browser-ios .cw-browser-ios,
html.browser-android .cw-browser-android {
  display: block;
  &[href] {
    display: inline;
  }
}
html.browser-ios .cw-browser-not_ios,
html.browser-android .cw-browser-not_android {
  display: none;
}



// element styles
// --------------
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
.clearfix {
  @include clearfix;
}
.hover {
  cursor: pointer;
}
.hide { // deprecated!
  display: none;
}
.cw-hide {
  display: none !important;
}
.invisible {
  visibility: hidden;
}
.cw-iconfont {
  @include cw_icon_fontfamily(1em);
}
img {
  &.cw-inline {
    display: inline;
  }
  &.cw-autosize {
    max-width: 100%;
    height: auto;
  }
  &.cw-fullwidth {
    width: 100%;
    height: auto;
  }
}
figure {
  margin: 0;
  padding: 0;
  figcaption {
    margin-top: ($gutterHeight / 4);
    color: $grayLight;
    @include font-size-s();
  }
}



// toggle links
// ------------
.cw-toggle_link-target {
  &.cw-toggle_link-open {
  }
  &.cw-toggle_link-closed {
  }
}
.cw-toggle_link {
  cursor: pointer;
  &.cw-toggle_link-icon:before {
    @include cw_icon_fontfamily(0.75em);
    content: "\e0c8\00a0\00a0";
    vertical-align: middle;
  }
  &.cw-toggle_link-icon.open:before {
    content: "\e0c9\00a0\00a0";
  }
}



// dropdown menu
// -------------
.cw_dropmenu {
  @include cw_dropmenu;
}



// Video
// -----
.cw-video {
  max-width: ($gridColumnWidth * 6 + $gutterWidth);
  margin: 0 auto ($gutterHeight * 2) auto;
  overflow: hidden;
  &.no-margin {
    margin-bottom: 0;
  }
  .cw-video-scaler {
    position: relative;
    height: 0;
    padding-top: 56.25%;
    iframe {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }
  }
  .cw-no-padding & {
    max-width: 100%;
    margin-bottom: 0;
  }
}



// AB test
// -------
.cw-abtest {
  .cw-abtest-show_inline-a,
  .cw-abtest-show_in-a {
    visibility: hidden;
  }
  .cw-abtest-show_inline-b,
  .cw-abtest-show_in-b {
    display: none;
  }
  &.cw-abtest-is-a {
    .cw-abtest-show_inline-a,
    .cw-abtest-show_in-a {
      visibility: visible;
    }
  }
  &.cw-abtest-is-b {
    .cw-abtest-show_inline-a,
    .cw-abtest-show_in-a {
      display: none;
    }
    .cw-abtest-show_inline-b {
      display: inline;
    }
    .cw-abtest-show_in-b {
      display: block;
    }
  }
}



// Translate switch
// ----------------
.cw-translate_switch {
  .cw-translate_switch-original {
    display: none;
  }
  &.cw-translate_switch-show-translated {
    .cw-translate_switch-translate {
      display: none;
    }
    .cw-translate_switch-original {
      display: inline;
    }
  }
}



// Spinner
// -------
.cw-spinner {
  &:before {
    content: "";
    visibility: hidden;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: $z_default + 3;
    background-color: rgba(255,255,255,0.67);
    opacity: 0;
    transition: opacity 0.1s ease-in-out;
    -ms-transition: none; // transition in IE breaks fade effect?
  }
  &:after {
    $throbber_size: 80px;
    content: "";
    position: absolute;
    z-index: $z_default + 3;
    left: 50%;
    top: $gutterHeight*3;
    width: $throbber_size;
    height: $throbber_size;
    margin-left: $throbber_size/-2 - 10;
    background: transparent url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCFET0NUWVBFIHN2ZyBQVUJMSUMgIi0vL1czQy8vRFREIFNWRyAxLjEvL0VOIiAiaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkIj4KPHN2ZyB3aWR0aD0iODAiIGhlaWdodD0iODAiIHZpZXdCb3g9IjAgMCAzOCAzOCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiBzdHJva2U9IiMwMGFlZWYiPgogIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICA8ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgxIDEpIiBzdHJva2Utd2lkdGg9IjIiPgogICAgICA8Y2lyY2xlIHN0cm9rZS1vcGFjaXR5PSIuMiIgY3g9IjE4IiBjeT0iMTgiIHI9IjE4Ii8+CiAgICAgIDxwYXRoIGQ9Ik0zNiAxOGMwLTkuOTQtOC4wNi0xOC0xOC0xOCIvPgogICAgPC9nPgogIDwvZz4KPC9zdmc+') left top no-repeat;
    visibility: hidden;
  }
  @-webkit-keyframes loader {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes loader {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  &.cw-spinner-on {
    pointer-events: none;
    &:before {
      visibility: visible;
      opacity: 1;
    }
    &:after {
      -webkit-animation: loader 1s infinite linear;
      -ms-animation: loader 1s infinite linear;
      animation: loader 1s infinite linear;
      visibility: visible;
    }
  }
}
