// #======================================#
// #     _____       _ _       _  _       #
// #    |  __ \     (_) |     | || |      #
// #    | |__) |__ _ _| |___  | || |_     #
// #    |  _  // _` | | / __| |__   _|    #
// #    | | \ \ (_| | | \__ \    | |      #
// #    |_|  \_\__,_|_|_|___/    |_|      #
// #                                      #
// #======================================#

$gridColumnWidth: 83px; // including $gutterWidth!
$width_small:   $gridColumnWidth*9;
$width_medium:  $gridColumnWidth*12;
$width_large:   $gridColumnWidth*18;
$gutterWidth: 20px;
$gutterHeight: 20px;
$headerHeight: 153px; // logo=105, #nav=48
$headerHeight_sticky: 55px;
$headerHeight_mobile: 55px;
$thumbsize_desktop: 100px;
$thumbsize_mobile: 75px;
$mobile_nav_width: 270px;

$z_default: 0;
$z_menu: 10;
$z_modal: 100;
$z_popup: 1000;

$blur: 5px;
