// #======================================#
// #     _____       _ _       _  _       #
// #    |  __ \     (_) |     | || |      #
// #    | |__) |__ _ _| |___  | || |_     #
// #    |  _  // _` | | / __| |__   _|    #
// #    | | \ \ (_| | | \__ \    | |      #
// #    |_|  \_\__,_|_|_|___/    |_|      #
// #                                      #
// #======================================#

// Libraries
@import "variables";
@import "mixins";
@import "colors";
// CSS
@import "cw-reset";
@import "cw-framework";

html {
  color: $grayLight;
  background-color: $grayLessDark;
}
body {
  color: $black;
  background-color: $white;
}

a {
  text-decoration: none;
  color: $blue;
  transition: border 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
  &:hover,
  &:focus {
    text-decoration: underline;
  }
  nav & {
    color: $black;
  }
  h1 &,
  h2 & {
    color: inherit;
    &:hover,
    &:focus {
      text-decoration: none;
    }
  }
  em {
    display: inline-block;
    padding: 0 0.636em;
    border-radius: 0.636em;
    @include font-size-xs();
    @include font-weight-bold;
    font-style: normal;
    text-transform: uppercase;
    vertical-align: top;
    background-color: $orange;
    color: $white;
  }
}



// 'invisible' iframes (added via js in GTM)
body > iframe:first-child {
  position: absolute;
}



// specific styles
.cw_no_javascript_notice {
  background-color: $orangeLighter;
  color: $black;
  text-align: center;
  padding: $gutterHeight/2 $gutterWidth;
  @include font-weight-medium;
}
@include cw_mediaquery("mobile") {
  #cw-main {
    background-color: $white;
  }
  html.mod-touch #cw-main { // accelerated scrolling: too many bugs for now... :(
  //   position: absolute;
  //   left: 0;
  //   right: 0;
  //   top: $headerHeight_mobile;
  //   bottom: 0;
  //   background-color: $white;
  //   overflow-x: hidden;
  //   overflow-y: auto;
  //   -webkit-overflow-scrolling: touch;
  //   -webkit-transform: translate3d(0,0,0);
  }
}
#cw_to_top {
  display: none;
  z-index: $z_menu;
  position: fixed;
  bottom: $gutterHeight/2;
  right: $gutterWidth/2;
  width: 51px;
  height: 51px;
  overflow: hidden;
  border: none;
  color: #222222;
  background: #444444;
  background: rgba(0, 0, 0, 0.3);
  text-decoration: none;
  @include cw_mediaquery("mobile") {
    display: none !important;
  }
  &:before {
    content: "\e0c5";
    display: block;
    font-family: 'entypo';
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 51px;
    text-align: center;
    width: 51px;
    color: #ffffff;
    speak: none;
    -webkit-font-smoothing: antialiased;
  }
  &:hover,
  &:focus {
    background: #222;
    background: rgba(0, 0, 0, 0.6);
  }
}
#cw_lists_auctions_actual {
  .cw-page_title h1 {
    color: $blue;
  }
}
.cw_auctions_upcoming_themed_content {
  .cw_auctions_upcoming_themed_content_item {
    overflow: hidden;
    margin-bottom: $gutterHeight/2;
  }
}
#cw_lists_auctioneers {
  .cw-columns {
    margin-top: -$gutterHeight/2;
  }
}
#media-quotes {
  .cw-columns {
    position: relative;
    margin-top: 1.875em; // 30px
    padding-top: 5.625em; // 90px
    @include cw_mediaquery("mobile") {
      margin-top: 0;
      margin-left: $gutterWidth/4;
      margin-right: $gutterWidth/4;
      padding-top: 2.5em; // 40px
    }
    .cw-columns-column {
      margin-bottom: 0;
      color: $grayLight;
      @include transition();
      @include cw_mediaquery("mobile") {
        float: left;
        width: 33.333%;
      }
      @include cw_mediaquery("mobile") {
        .cw-content {
          padding: 0 $gutterWidth/4;
        }
      }
      .cw-media-quote {
        visibility: hidden;
        position: absolute;
        left: ($gridColumnWidth + $gutterWidth / 2);
        right: ($gridColumnWidth + $gutterWidth / 2);
        top: 0;
        margin: 0;
        color: $blue;
        -webkit-transform: scale(0);
        transform: scale(0);
        -webkit-transition: -webkit-transform 0.25s ease-in-out;
        transition: transform 0.25s ease-in-out;
        @include font-style-italic;
        @include font-size-xxl();
        @include cw_mediaquery("tablet_only") {
          left: ($gutterWidth / 2);
          right: ($gutterWidth / 2);
        }
        @include cw_mediaquery("mobile") {
          left: 0;
          right: 0;
          @include font-size-normal();
        }
        &:before {
          content: "\201C";
        }
        &:after {
          content: "\201D";
        }
        body.cw_lang_du & {
          &:before {
            content: "\201E";
          }
          &:after {
            content: "\201C";
          }
        }
        body.cw_lang_fr & {
          &:before {
            content: "\00AB\00A0";
            font-style: normal;
          }
          &:after {
            content: "\00A0\00BB";
            font-style: normal;
          }
        }
      }
      footer {
        cursor: default;
        padding: $gutterHeight 0;
        border-bottom: 2px solid $grayLighterer2;
        @include transition();
        @include cw_mediaquery("mobile") {
          padding: $gutterHeight 0 $gutterHeight/2 0;
        }
        img {
          width: 100%;
          height: auto;
          opacity: 0.5;
          -moz-transform: rotate(0); // fix hover wiggle in Firefox
          -webkit-backface-visibility: hidden; // fix hover wiggle in Chrome when resized
          @include transition();
        }
      }
      &.cw-active {
        color: inherit;
        .cw-media-quote {
          visibility: visible;
          -webkit-transform: scale(1);
          transform: scale(1);
        }
        footer {
          border-color: $blue;
          img {
            opacity: 1;
          }
        }
      }
    }
  }
}
#managed_content {
  padding-bottom: $gutterHeight*2;
  .mfp-content & {
    padding-bottom: 0;
  }
  img {
    max-width: 100%;
    height: auto;
  }
}
.cw-sharing {
  overflow: hidden;
  .cw-sharing-item {
    float: left;
    margin-right: $gutterWidth/2;
  }
  a {
    margin-right: $gutterWidth/4;
    &:hover,
    &:focus {
      text-decoration: none;
    }
  }
}
.cw-photo_header {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  // afbeeldingen van 1920x403 px!
  &.cw-photo_header-jobs {
    background-image: url("/images/v3/jobs/header.jpg");
    min-height: 403px;
    .cw-content {
      padding-top: $gutterHeight*3.5;
      .cw-page_title {
        margin-bottom: $gutterHeight;
        h1 {
          margin: 0;
        }
      }
    }
  }
  &.cw-photo_header-ecoty {
    background-image: url("/images/ecoty/ecoty2014.png");
    background-position: center top;
    background-size: 976px auto;
    min-height: 277px;
    .cw-content {
      padding-top: 277px;
    }
  }
  .cw-content {
    .cw-page_title {
      margin-bottom: 0;
      h1 {
        margin: 0;
      }
    }
    p {
      color: $blue;
      @include font-size-xxl("compact");
    }
    p.cw-view_all {
      font-style: normal;
      text-align: left;
    }
  }
  @include cw_mediaquery("mobile") {
    min-height: 0 !important;
    .cw-content {
      padding-top: $gutterHeight*1.5 !important;
      padding-bottom: $gutterHeight*2;
      p {
        @include font-size-normal();
      }
    }
    &.cw-photo_header-jobs {
      .cw-content {
        padding-right: 33%;
      }
    }
    &.cw-photo_header-ecoty {
      background-size: 488px auto;
      min-height: 139px !important;
      .cw-content {
        padding-top: 139px !important;
      }
    }
  }
}



// general styles (independent of screen width)
.cw-sticky {
  -webkit-backface-visibility: hidden;
  &.cw-sticky-on {
    position: fixed !important;
    top: 0;
  }
}
.cw_main_container {
  min-height: $gutterHeight*20;
}
.cw-page_title {
  margin-bottom: $gutterHeight*2;
  @include cw_mediaquery("mobile") {
    margin-bottom: $gutterHeight*1.5;
  }
  h1 {
    img {
      display: inline;
      vertical-align: baseline;
    }
  }
}
.cw-container {
  padding: $gutterHeight*2.5 0 $gutterHeight*3 0;
  @include clearfix;
  @include cw_mediaquery("mobile") {
    padding: $gutterHeight*1.5 0 $gutterHeight*2 0;
  }
  .cw-content > header {
    text-align: center;
    color: $grayDark;
    p {
      margin-left: $gridColumnWidth;
      margin-right: $gridColumnWidth;
      @include cw_mediaquery("mobile") {
        margin-left: 0;
        margin-right: 0;
      }
    }
  }
  .cw-grid-unit .cw-content > header {
    margin: 0;
    text-align: left;
  }
  .cw-grid-unit-w3 .cw-content > header h1 {
    @include font-size-l();
    @include font-weight-medium;
  }
  &.cw-no-padding-top {
    padding-top: 0;
  }
  &.cw-half-padding-top {
    padding-top: $gutterHeight/2;
  }
  &.cw-no-padding-bottom {
    padding-bottom: 0;
  }
  &.cw-no-padding {
    padding: 0;
  }
  &.cw-container--line {
    border-bottom: 1px solid $grayLighterer2;
  }
  &.cw-container-smaller {
    > header h1 {
      color: inherit;
    }
  }
  &.cw-textcontainer {
    .cw-content {
      padding: 0 ($gridColumnWidth * 2 + $gutterWidth / 2);
      @include cw_mediaquery("tablet_and_smaller") {
        padding: 0 ($gutterWidth / 2);
      }
    }
  }
}
// Background colors
.cw-bg-white {
  background-color: $white;
  color: $black;
}
.cw-bg-white2 {
  background-color: rgba(255,255,255,0.9);
  color: $black;
  html.lt-ie9 & {
    background-color: $white;
  }
}
.cw-bg-darkblue {
  background-color: $blueDark;
  color: $blueLight;
  .cw-content > header h1 {
    color: $white;
  }
}
.cw-bg-lightblue {
  background-color: $blueLight;
  .cw-content > header h1 {
    color: $blue;
  }
}
.cw-bg-lightblue2 {
  background-color: $blueMid;
  .cw-content > header h1 {
    color: $blue;
  }
}
.cw-bg-gray {
  background-color: $gray;
  color: $white;
}
.cw-bg-gray2 {
  background-color: $grayMid;
  color: $white;
}
.cw-bg-lightgray {
  background-color: $grayLighterer;
}
.cw-bg-lightgray2 {
  background-color: $grayLighterer3;
}
.cw-bg-lightgray3 {
  background-color: $grayLighterer2;
}
.cw-bg-lightorange {
  background-color: $orangeLighter;
}
.cw-bg-blue {
  background-color: $blue;
  color: $white;
  a {
    color: $white;
    text-decoration: underline;
  }
}
.cw-bg-orange {
  background-color: $orange;
  color: $white;
  a {
    color: $white;
    text-decoration: underline;
  }
}
/* split background-colors */
.cw-split-lightblue-white {
  background: linear-gradient(90deg, $blueLight 50%, $white 50%);
  @include cw_mediaquery("mobile") {
    background: $blueLight;
    .cw-container {
      padding-bottom: 0;
      .cw-grid-unit:not(:first-child) {
        padding-top: $gutterHeight;
        padding-bottom: $gutterHeight;
      }
    }
  }
  html.lt-ie10 & { // poor people with no support for CSS background images ;)
    position: relative;
    &:before {
      position: absolute;
      content: "";
      left: 0;
      right: 50%;
      top: 0;
      bottom: 0;
      background-color: $blueLight;
    }
  }
}

body.cw_logged_in .cw_not_logged_in { display: none; }
body.cw_not_logged_in .cw_logged_in { display: none; }
.cw-button-group {
  list-style-type: none;
  margin: 0;
  padding: 0 0 $gutterHeight*2 0;
  @include cw_mediaquery("mobile") {
    @include font-size-s();
    padding-bottom: $gutterHeight;
  }
  li {
    display: inline-block;
    html.lt-ie8 & {
      display: inline;
    }
    margin: 0 $gutterWidth/4 $gutterHeight/2 $gutterWidth/4;
    @include cw_mediaquery("mobile") {
      margin-left: 3px;
      margin-right: 3px;
    }
    a,
    span {
      display: block;
      padding: $gutterHeight/4 $gutterWidth/2;
      background-color: $blueLight;
    }
    a:hover,
    a:focus {
      text-decoration: none;
      background-color: $blueLighter;
    }
    span,
    a.active,
    &.active a {
      background-color: $blue;
      color: $white;
    }
  }
}
.cw-pager {
  clear: both;
  text-align: center;
  text-transform: lowercase;
  body.cw_lang_du & {
    text-transform: none;
  }
  a, strong {
    display: inline-block;
    html.lt-ie8 & {
      display: inline;
    }
    padding: $gutterHeight/4 $gutterWidth/2;
    color: $black;
  }
  strong {
    background-color: $blue;
    color: $white;
  }
  .quick_page_input {
    display: inline-block;
    html.lt-ie8 & {
      display: inline;
    }
    margin-left: $gutterWidth/2;
    padding-left: $gutterWidth/2;
    background-color: $grayLighterer;
    color: $grayLight;
    input {
      width: 2.375em;
      margin-left: $gutterWidth/4;
    }
  }
}
#infscr-loading {
  position: absolute;
  left: 50%;
  bottom: 0;
  img {
    margin-left: -50%;
  }
}
.cw-skip_nav {
  margin-bottom: $gutterHeight*2;
  ul {
    margin-bottom: 0;
  }
  a {
    position: relative;
    padding-left: $gutterWidth;
    &:before {
      @include cw_icon_font("\E0C8");
      float: left;
      width: $gutterWidth;
      margin: 0.333em 0 0 ($gutterWidth * -1);
      font-size: 0.75em;
      color: $grayLight;
    }
    &:hover,
    &:focus {
      &:before {
        color: $blue;
      }
    }
  }
  @include cw_mediaquery("mobile") {
    display: none;
  }
}
.cw-box {
  overflow: hidden;
  margin-bottom: $gutterHeight*2;
  .pull-right {
    margin-bottom: $gutterHeight;
  }
  &.cw-box-padding {
    padding: $gutterHeight*0.75 $gutterWidth/2;
  }
  &.cw-box-line {
    border-bottom: 1px solid $grayLighterer2;
    margin-bottom: $gutterHeight*0.6;
    padding-bottom: $gutterHeight*0.6;
    .cw-fontsize-s & {
      line-height: 1.4285714;
    }
    h1,
    .cw-content & h2.cw-box-heading {
      @include font-size-normal();
      @include font-weight-medium;
      margin: 0;
    }
  }
  &.cw-box-no_margin {
    margin-bottom: 0;
  }
  h1,
  .cw-content & h2.cw-box-heading {
    @include font-size-l(true);
    @include font-weight-medium;
  }
  h2 {
    @include font-size-normal();
    @include font-weight-medium;
    margin-bottom: 0;
    html .cw-modal & {
      margin-bottom: ($gutterHeight / 4);
    }
  }
  &.cw-centered h3 {
    @include font-size-l(true);
  }
  img.cw-fullwidth {
    margin-bottom: $gutterHeight/2;
    @include cw_mediaquery("mobile") {
      float: right;
      width: 33%;
      margin: 0 0 $gutterHeight/2 $gutterWidth/2;
    }
  }
  .cw-centered {
    clear: both;
  }
}
.cw-line_through {
  overflow: hidden;
  * {
    position: relative;
    &:before,
    &:after {
      background: linear-gradient(180deg, transparent 50%, rgba(0,0,0,0.125) 50%, rgba(0,0,0,0.125) 55%, transparent 55%);
      background-size: 1.25em 1.25em;
      background-repeat: repeat-x;
    }
    &:before {
      position: absolute;
      content: "";
      right: 100%;
      width: ($gridColumnWidth * 12);
      height: 1.25em;
      margin-right: ($gutterWidth / 2);
    }
    &:after {
      position: absolute;
      content: "";
      left: 100%;
      width: ($gridColumnWidth * 12);
      height: 1.25em;
      margin-left: ($gutterWidth / 2);
    }
  }
}
.cw-line{
  width:100%;
  height:1px;
  background:$grayLighter;
  margin:0 0 $gutterHeight*2 0;
}

// Gallery
.cw-gallery {
  overflow: hidden;
  margin: 0 $gutterWidth/-2 0 0;
  .cw-gallery-item {
    float: left;
    margin: 0 $gutterWidth/2 $gutterHeight/2 0;
    a {
      display: block;
      overflow: hidden;
      outline: none;
      img {
        max-width: 100%;
        transition: opacity 0.1s ease-in-out;
      }
      &:hover,
      &:focus {
        img {
          opacity: 0.9;
        }
      }
    }
  }
  &.cw-gallery-extended {
    .cw-gallery-item {
      width: $gridColumnWidth*2 - $gutterWidth;
      text-align: center;
      a {
        padding: $gutterHeight/2 $gutterWidth/2;
        background-color: $grayLighterer;
        color: $black;
        text-decoration: none;
        @include font-size-s();
        &:hover,
        &:focus {
          background-color: $grayLighterer3;
          text-decoration: none;
        }
      }
      img {
        margin: 0 auto;
      }
      .cw-title {
        padding-top: $gutterHeight/4;
      }
      .cw-grid-unit-w6 & {
        &:nth-child(3n+1) {
          clear: left;
        }
      }
      .cw-grid-unit-w8 & {
        &:nth-child(4n+1) {
          clear: left;
        }
      }
      .cw-grid-unit-w10 & {
        &:nth-child(5n+1) {
          clear: left;
        }
      }
      @include cw_mediaquery("tablet_only") {
        .cw-grid-unit-small-w6 & {
          &:nth-child(n) {
            clear: none;
          }
          &:nth-child(3n+1) {
            clear: left;
          }
        }
      }
      @include cw_mediaquery("mobile") {
        .cw-grid-unit & {
          &:nth-child(n) {
            clear: none;
          }
          &:nth-child(2n+1) {
            clear: left;
          }
        }
      }
    }
  }
}
.cw_icon_info {
  color: $blue !important;
  text-decoration: none !important;
  @include cw_icon_fontfamily();
  @include font-size-xs();
  vertical-align: baseline;
}



@import "cw-usp";
@import "cw-auction";
@import "cw-lists";
@import "cw-popups";
@import "cw-buttons";
@import "cw-forms";
@import "cw-tabs";
@import "cw-promos";
@import "cw-ab-tests";
@import "cw-packlink";
@import "cw-feedback";



// App signup
#cw_app_signup_page {
  a {
    strong {
      color: $black;
      text-decoration: underline;
      white-space: nowrap;
    }
  }
  #flash_area {
    color: $black;
    #flash {
      background-color: $yellow;
    }
  }
  .cw-columns {
    margin-bottom: $gutterHeight;
  }
  form {
    .cw-form-text {
      color: $black;
      width: $gridColumnWidth*5;
      @include cw_mediaquery("tablet_only") {
        width: $gridColumnWidth*3;
      }
      @include cw_mediaquery("mobile") {
        width: 100%;
      }
    }
    .cw-form-submit {
      margin-left: -0.5em;
      padding-top: $gutterHeight*0.35;
      padding-bottom: $gutterHeight*0.4;
      @include cw_mediaquery("mobile") {
        display: block;
        width: 100%;
        margin-left: 0;
        margin-top: $gutterHeight/2;
      }
    }
    @include cw_mediaquery("mobile") {
      .app_signup-phone_type span {
        display: block;
      }
    }
  }
  .app_signup_win {
    overflow: hidden;
    padding: 0 $gutterWidth $gutterHeight $gutterWidth;
    color: $blue;
    @include font-size-xl();
    @include cw_mediaquery("mobile") {
      padding: 0 $gutterWidth/2 $gutterHeight/2 $gutterWidth/2;
      @include font-size-normal();
    }
    .win_giftcard {
      float: right;
      margin-left: $gutterWidth;
      @include cw_mediaquery("mobile") {
        width: 33%;
      }
    }
  }
  #cw_phone_slider_container {
    position: relative;
    #cw_phone_overlay {
      position: relative;
      z-index: 1;
    }
    #cw_phone_slider {
      position: absolute;
      left: 8.30%;
      right: 7.42%;
      top: 14.55%;
      bottom: 14.14%;
      overflow: hidden;
    }
  }
}
#cw_app_signup_banner {
  background-color: $grayLighterer;
  body.frontpage & {
    background-color: transparent;
  }
  p {
    overflow: hidden;
    clear: both;
  }
  img {
    float: left;
    margin-right: $gutterWidth;
  }
}
#cw_app_newsletter {
  a {
    display: block;
    margin-bottom:  ($gutterHeight / 2);
  }
  .pull-left {
    margin-right: ($gutterWidth / 2);
    img {
      float: left;
      margin-right: ($gutterWidth / 2);
    }
  }
  #cw_app_promo {
    position: relative;
    padding-right: ($gridColumnWidth);
    overflow: hidden;
  }
  #cw_newsletter_signup {
    position: relative;
    padding-left: ($gridColumnWidth);
  }
  @include cw_mediaquery("tablet_only") {
    #cw_app_promo {
      padding-right: ($gridColumnWidth / 2);
    }
    #cw_newsletter_signup {
      padding-left: ($gridColumnWidth / 2);
    }
  }
  @include cw_mediaquery("mobile") {
    #cw_app_promo {
      padding-right: 0;
    }
    #cw_newsletter_signup {
      padding-left: 0;
    }
  }
}
.cw-mobile_banner {
  display: none;
  @include cw_mediaquery("mobile") {
    display: block;
  }
  background-color: $blue;
  color: $white;
  @include font-size-s();
  h1 {
    @include font-size-l();
    margin-bottom: $gutterHeight/4;
  }
  p {
    margin: 0;
  }
  img.cw-mobile_banner-image {
    position: absolute;
    right: 2em;
    top: $gutterHeight/2;
  }
  a {
    position: relative;
    display: block;
    overflow: hidden;
    padding: ($gutterHeight / 2) ($gutterWidth * 5.5) ($gutterHeight / 2) 0;
    color: $white;
    &:after {
      position: absolute;
      top: 50%;
      right: -0.375em;
      margin-top: -0.5em;
      @include cw_icon_font("\E0C6");
      font-size: 4em;
      line-height: 1.0;
    }
    &:hover,
    &:focus {
      text-decoration: none;
    }
  }
  &.cw-mobile_banner-small {
    position: fixed;
    z-index: ($z_default + 1);
    bottom: 0;
    left: 0;
    right: 0;
    @include cw_mediaquery("mobile") {
      visibility: hidden;
      transform: translate3d(0,($gutterWidth * 3),0);
      transition: transform 0.2s ease-in-out;
      box-shadow: 0 0 ($gutterWidth / 4) 1px $shadow_color;
      &.active {
        visibility: visible;
        transform: translate3d(0,0,0);
        html.menu-below-open & {
          visibility: hidden;
        }
      }
    }
    h1 {
      @include font-size-s();
      margin: 0;
    }
    img.cw-mobile_banner-image {
      position: absolute;
      left: 0;
      right: auto;
      top: ($gutterHeight * 0.3);
      width: ($gutterWidth * 2.5);
      height: auto;
    }
    img.cw-mobile_banner-store {
      position: absolute;
      right: 0;
      bottom: ($gutterHeight / 2);
      width: ($gutterWidth * 5.5);
      height: auto;
    }
    a {
      min-height: ($gutterHeight * 1.7);
      padding: ($gutterHeight * 0.5) ($gutterWidth * 6) ($gutterHeight * 0.45) ($gutterWidth * 3);
      &:after {
        display: none;
      }
    }
  }
  a.cw-mobile_banner-close {
    position: absolute;
    right: 0;
    bottom: 100%;
    min-height: 0;
    margin-bottom: ($gutterHeight / -2);
    padding: 0 0.375em;
    color: $white;
    background-color: $blue;
    border-radius: 3px 0 0 0;
    @include font-size-normal();
    @include font-weight-medium;
  }
}
.app_signup_linkbanner_small {
  @include font-size-l();
  line-height: ($gutterHeight * 1.5);
  background-color: $blueMid;
  .cw-content {
    padding-top: ($gutterHeight * 0.75);
    padding-bottom: ($gutterHeight * 0.75);
  }
  p {
    margin: 0;
    &:before {
      display: inline-block;
      content: "";
      width: 62px;
      height: 30px;
      margin-right: 0.5em;
      background: transparent url("/images/v3/logos/apps-logos.svg") left top no-repeat;
      background-size: 62px 30px;
      vertical-align: top;
      html.lt-ie9 & {
        background-image: url("/images/v3/logos/apps-logos.png");
      }
      html.browser-ios & {
        width: 25px;
      }
      html.browser-android & {
        width: 31px;
        background-position: -31px 0;
      }
      @include cw_mediaquery("mobile") {
        display: block;
        margin: 0 auto;
      }
    }
  }
  a {
    color: inherit;
  }
  @include cw_mediaquery("tablet_only") {
    @include font-size-normal();
    line-height: ($gutterHeight * 1.5);
  }
  @include cw_mediaquery("mobile") {
    @include font-size-s();
    a {
      display: block;
    }
  }
}

// Sellers page
#cw-sellers_page {
  .breadcrumb {
    @include font-size-s(true);
    margin-top: $gutterHeight*-1.5;
  }
  .cw-page_title {
    margin-bottom: $gutterHeight;
    h1 {
      margin: 0;
      span {
        white-space: nowrap;
      }
    }
    p {
      margin: 0;
    }
  }
  aside {
    padding-top: $gutterHeight/2;
    section {
      margin-bottom: $gutterHeight*2;
      h1 {
        @include font-size-xl();
        @include font-weight-medium;
        margin-bottom: $gutterHeight/2;
        padding-bottom: $gutterHeight/4 - 1;
        border-bottom: 1px solid $grayLighterer2;
      }
    }
    nav {
      .active {
        color: $blue;
      }
      a {
        color: $black;
        text-decoration: none;
        &:hover,
        &:focus {
          text-decoration: underline;
        }
      }
    }
  }
}

.cw-card {
  background-color: $grayLighterer;
  @include cw_rounded_corners();
  h1,
  h2.cw-card-heading {
    margin: 0;
    padding: ($gutterHeight * 0.75) $gutterWidth;
    @include font-size-l();
    @include font-weight-medium;
    background-color: $blueLight;
    color: $blue;
  }
  h1.cw-has_tip {
    padding-left: $gridColumnWidth;
  }
  @include cw_mediaquery("mobile") {
    .same-height {
      min-height: 0 !important;
    }
  }
  .cw-card-content {
    padding: $gutterHeight $gutterWidth;
    .header {
      width: 100%;
      padding-bottom: $gutterHeight;
    }
    .pull-right {
      width: 30%;
      padding-bottom: $gutterHeight;
      margin-left: $gutterWidth/2;
    }
    .pull-left {
      width: 65%;
      padding-bottom: $gutterHeight;
      margin-right: $gutterWidth/2;
    }
    h2 {
      @include font-size-normal;
    }
    > .cw-content {
      overflow: hidden;
      p:last-child {
        margin-bottom: $gutterHeight;
      }
    }
    .cw-columns {
      margin: 0 ($gutterWidth / -2);
    }
    .cw-image {
      position: relative;
      &.cw-icon:after {
        content: "";
        display: block;
        position: absolute;
        right: $gutterWidth/2;
        bottom: $gutterHeight/2;
        height: 30px;
        width: 30px;
      }
      &.cw-icon-check:after {
        background-image:  url("/images/v3/lot_photo_tips/check.png");
        background-size: 30px 30px;
      }
      &.cw-icon-cross:after {
        background-image:  url("/images/v3/lot_photo_tips/cross.png");
        background-size: 30px 30px;
      }
    }
  }
}


.polaroid_gallery_widget {
  overflow: hidden;
  article,
  img {
    float: left;
    margin: 0 $gutterWidth $gutterHeight 0;
  }
}

.cw-tip {
  position: relative;
  max-width: ($gridColumnWidth * 6 - $gutterWidth * 3.5);
  padding: ($gutterHeight / 2) ($gutterWidth / 2);
  background-color: $yellow_rgba;
  color: $black;
  border-radius: ($gutterWidth / 4);
  border-left: ($gutterWidth * 1.5) solid $yellowDark;
  html.lt-ie9 & {
    background-color: $yellow;
  }
  &:before {
    position: absolute;
    left: ($gutterWidth * -1.1);
    top: ($gutterHeight / 2);
    color: $white;
    content: '\e054';
    @include cw_icon_fontfamily(1em);
  }
}

#translation_warning {
  input {
    vertical-align: baseline;
  }
  small {
    display: none;
  }
  &.active {
    small {
      display: inline;
    }
  }
  label {
    margin-right: 0.5em;
    @include font-weight-medium;
  }
}

// Auctioneers page
#cw_auctioneers_overview {
  .cw-box {
    padding-top: ($gutterHeight / 2);
    padding-bottom: ($gutterHeight / 2);
    transition: background-color 0.2s linear, box-shadow 0.2s linear;
    p {
      float: left;
      margin: 0;
      padding-top: ($gutterHeight / 4);
      color: $grayLight;
    }
    @include cw_mediaquery("mobile") {
      text-align: center;
      p {
        float: none;
        padding-top: 0;
      }
    }
  }
  .cw-list-view_options {
    clear: none;
    .cw-list-view_options-item {
      margin-top: 0;
      padding-bottom: 0;
      label {
        display: block;
        float: left;
        padding: ($gutterHeight / 4) ($gutterWidth / 2) 0 0;
        @include font-weight-medium;
      }
      .cw-nice_select-container {
        position: relative;
        float: left;
        width: ($gridColumnWidth * 4 - $gutterWidth * 2);
      }
    }
    @include cw_mediaquery("mobile") {
      clear: both;
      .cw-list-view_options-item {
        padding-top: ($gutterHeight / 4);
        label {
          display: none;
        }
        .cw-nice_select-container {
          width: 100%;
          text-align: left;
        }
        .cw-custom_select {
          text-align: center;
        }
      }
    }
  }
}
.cw-auctioneer_detail {
  $image_size: ($gridColumnWidth - $gutterWidth / 2);
  .mfp-content & {
    display: block;
  }
  overflow: hidden;
  background-color: $grayLighterer;
  header {
    padding: ($gutterHeight * 0.75) ($gutterWidth * 1.5);
    background-color: $blueLighter;
    h1 {
      display: inline;
      @include font-size-xl();
      margin: 0;
    }
    p {
      display: inline;
      margin: 0 !important;
      &:before {
        content: "\2013";
      }
    }
  }
  .cw-auctioneer_detail-summary {
    position: relative;
    overflow: hidden;
    padding: ($gutterHeight * 2.5) ($gridColumnWidth + $gutterWidth * 3) ($gutterHeight * 1.5) ($gutterWidth + 229);
    min-height: (252 - $gutterHeight * 2.5 + 2);
    background-color: $white;
    .cw-auctioneer_detail-lots {
      position: absolute;
      right: $gutterWidth;
      top: $gutterHeight;
      width: $gridColumnWidth;
      padding: 0 0 0 $gutterWidth;
      border-left: 1px solid $grayLighterer2;
      text-align: center;
      h2 {
        @include font-size-s();
        margin-bottom: ($gutterHeight / 2);
      }
      ul {
        margin: 0;
        li {
          &:last-child {
            margin-bottom: 0;
          }
          img {
            display: inline-block;
            vertical-align: bottom;
          }
        }
      }
    }
    img.cw-auctioneer_detail-image {
      position: absolute;
      left: 0;
      bottom: 0;
    }
    .cw-auctioneer_detail-image_small {
      position: absolute;
      left: ($gutterWidth * 1.5);
      top: ($gutterWidth * 2 - 2);
      width: $image_size;
      height: $image_size;
      overflow: hidden;
      margin: 3px auto ($image_size / -2) auto;
      background-color: $white;
      box-shadow: 0 0 0 3px $grayLighterer;
      border-radius: ($image_size / 2);
      html.lt-ie9 & {
        outline: 3px solid $grayLighterer;
      }
      img {
        width: ($image_size * 1.25);
        height: auto;
        max-width: none;
        margin-left: ($image_size / -8);
      }
    }
    blockquote {
      margin-bottom: ($gutterHeight * 1.5);
      @include font-size-xl();
      line-height: 1.25;
      @include font-style-italic;
      color: $blue;
      p {
        margin-bottom: 0;
        &:before {
          content: "\201C";
        }
        &:after {
          content: "\201D";
        }
        body.cw_lang_du & {
          &:before {
            content: "\201E";
          }
          &:after {
            content: "\201C";
          }
        }
        body.cw_lang_fr & {
          &:before {
            content: "\00AB\00A0";
            font-style: normal;
          }
          &:after {
            content: "\00A0\00BB";
            font-style: normal;
          }
        }
      }
    }
    ul.cw-list-checkmarks {
      margin: 0;
      li {
        margin-bottom: ($gutterHeight / 4);
      }
    }
  }
  &.cw-auctioneer_detail-no_image {
    .cw-auctioneer_detail-summary {
      padding-left: ($image_size + $gutterWidth * 2.75);
      @include cw_mediaquery("mobile") {
        padding-left: $gutterWidth;
      }
    }
  }
  .cw-auctioneer_detail-info {
    padding: ($gutterHeight * 1.5) ($gutterWidth * 1.5);
  }
  @include cw_mediaquery("mobile") {
    header {
      padding: ($gutterHeight * 0.75) ($gutterWidth);
      h1, p {
        display: block;
      }
      p {
        @include font-size-s();
        &:before {
          display: none;
        }
      }
    }
    .cw-auctioneer_detail-summary {
      padding: ($gutterHeight) ($gutterWidth) 0 ($gutterWidth);
      .cw-auctioneer_detail-lots {
        position: static;
        width: auto;
        margin-bottom: $gutterHeight;
        padding: $gutterWidth 0 0 0;
        border-left: none;
        border-top: 1px solid $grayLighterer2;
        text-align: left;
        ul {
          overflow: hidden;
          li {
            float: left;
            margin: 0 ($gutterWidth / 2) 0 0;
          }
        }
      }
      img.cw-auctioneer_detail-image {
        position: static;
        margin: 0 auto;
      }
      .cw-auctioneer_detail-image_small {
        position: static;
        float: right;
        margin: 0 0 ($gutterHeight / 2) ($gutterWidth / 2);
      }
      blockquote {
        @include font-size-l();
      }
      ul.cw-list-checkmarks {
        margin-bottom: $gutterHeight;
      }
    }
    .cw-auctioneer_detail-info {
      padding: ($gutterHeight) ($gutterWidth);
    }
  }
}

// Invite friends
#cw-invite_friends {
  .cw-photo_header {
    .wrapper {
      z-index: ($z_default + 1);
    }
    .cw-content {
      @include cw_mediaquery("mobile") {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
      }
    }
    p {
      margin: 0;
      color: $black;
      @include font-size-normal();
    }
    &.cw-photo_header-invite_friends {
      background-image: url("/images/v3/invite/invite-a-friend.jpg");
      background-size: cover;
      background-position: center center;
      @include cw_mediaquery("mobile") {
        background-image: none;
      }
    }
  }
  &.cw-invite_friends-accept .cw-photo_header {
    border-bottom: 1px solid $grayLighterer3;
  }
  &.cw-invite_friends-invite {
    .cw-photo_header {
      .cw-content {
        @include cw_mediaquery("mobile") {
          padding-bottom: ($gutterHeight) !important;
        }
      }
    }
  }
  .cw-invite_friends-icons {
    .cw-grid {
      margin-top: -40px;
    }
    @include cw_mediaquery("mobile") {
      padding-bottom: ($gutterHeight * 2);
      .cw-box {
        margin-bottom: 0;
      }
    }
  }
  h2 {
    @include font-size-l();
    color: $blue;
  }
  a.cw-fontsize-s {
    color: $black;
    text-decoration: underline;
  }
  .cw-invite_friends-link {
    input {
      width: ($gridColumnWidth * 4 - $gutterWidth);
      max-width: 100%;
      text-align: center;
      color: $blue;
      border-color: $blue;
      &:focus {
        color: $black;
      }
    }
  }
  a.btn {
    margin: 0 ($gutterWidth / 4);
    @include cw_mediaquery("mobile") {
      display: block;
      margin: 0 0 ($gutterHeight / 2) 0;
    }
  }
}

body.seller_signup {
  .cw-grid-unit.seperator{
    height:350px;
    border-right:1px solid $grayLighterer2;

  }
  .cw-view_all a {
    @include cw_mediaquery("mobile") {
      display: block;
      white-space: normal;
    }
  }
}

// Currencies
body {
  .cw-currency-amount {
    display: none !important;
  }
  &.cw-currency-eur {
    .cw-currency-amount-eur {
      display: inline !important;
    }
  }
  &.cw-currency-gbp {
    .cw-currency-amount-gbp {
      display: inline !important;
    }
  }
  &.cw-currency-usd {
    .cw-currency-amount-usd {
      display: inline !important;
    }
  }
}

// Homepage Hero
.cw-hero {
  $hero_number_img: 3;
  $hero_img_width: ($gridColumnWidth * 8 - $gutterWidth);
  $hero_img_height: 275px;
  $hero_img_width_tablet: ($gridColumnWidth * 6 - $gutterWidth);
  $hero_img_height_tablet: (($hero_img_width_tablet / $hero_img_width) * $hero_img_height);
  position: relative;
  margin-bottom: ($gutterHeight * 2);
  background-image: linear-gradient(180deg, rgba(0,174,239,0), rgba(0,174,239,0.2));
  background-size: 100% 100%;
  background-position: 0 0;
  @include cw_mediaquery("mobile") {
    margin-bottom: 0;
    background-image: none;
  }
  .cw-container {
    padding: ($gutterHeight * 1.5) 0 0 0;
  }
  h1 {
    color: $blue;
    @include cw_mediaquery("mobile") {
      margin-bottom: ($gutterHeight / 2);
    }
  }
  .cw-bg-white2 {
    position: relative;
    z-index: ($z_default + 1);
    margin-bottom: ($gutterHeight * 1.5);
    padding: ($gutterHeight) ($gutterWidth);
    @include cw_mediaquery("tablet_and_smaller") {
      padding: ($gutterHeight / 2) ($gutterWidth / 2);
    }
    ul {
      @include font-size-l();
      margin-bottom: 1em;
      @include cw_mediaquery("tablet_and_smaller") {
        @include font-size-normal();
      }
      @include cw_mediaquery("mobile") {
        @include font-size-s();
      }
      li {
        padding: 0.5em 0;
        a {
          color: $black;
        }
      }
    }
    .cw-view_all {
      a {
        display: block;

        &.btn-orange{
          margin-bottom: ($gutterHeight / 2);
        }
      }
    }
  }
  &__content {
    position: relative;
    overflow: hidden;
    min-height: ($hero_img_height);
    perspective: $hero_img_width;
    @include cw_mediaquery("tablet_only") {
      min-height: ($hero_img_height_tablet);
    }
    @include cw_mediaquery("mobile") {
      min-height: 0;
    }
    &__slides {
      position: absolute;
      left: 0;
      bottom: 0;
      right: 0;
      white-space: nowrap;
      //transform-style: preserve-3d;
      //animation: hero_slider 30s linear infinite;
      img {
        display: inline-block;
        width: $hero_img_width;
        height: $hero_img_height;
        vertical-align: bottom;
        @include cw_mediaquery("tablet_only") {
          width: ($gridColumnWidth * 6 - $gutterWidth);
          height: $hero_img_height_tablet;
        }
      }
      @include cw_mediaquery("mobile") {
        position: static;
        img {
          display: block;
          width: 100%;
          height: auto;
        }
      }
    }
  }
  @keyframes hero_slider {
    0% {
      transform: translate3d(0,0,0);
    }
    100% {
      transform: translate3d(($hero_number_img * $hero_img_width * -1),0,0);
    }
  }
}
.cw-usps {
  position: relative;
  z-index: ($z_default + 1);
  margin-bottom: ($gutterHeight / -2);
  @include cw_mediaquery("mobile") {
    display: none;
  }
  .cw-container {
    @include flexbox_justify;
    padding: 0;
    @include font-size-l();
    text-align: center;
    a {
      color: $black;
    }
  }
}

// FAQ's (simplified from Rails 4!)
ul.cw-faq-questions {
  list-style-type: none;
  border-top: 1px solid $grayLighterer2;
  margin: 0 0 $gutterHeight 0;
  padding: 0;
  .cw-grid-unit & {
    margin-bottom: ($gutterHeight * 2) !important;
  }
  li {
    border-bottom: 1px solid $grayLighterer2;
    article {
      h1 {
        @include font-size-normal();
        @include font-weight-medium;
        margin: 0;
        a {
          position: relative;
          display: block;
          color: $black !important;
          padding: ($gutterHeight / 4) ($gutterWidth / 2) ($gutterHeight / 4) ($gutterWidth);
          cursor: pointer;
          html.mod-no-touch &:hover,
          &:focus {
            color: $blue !important;
          }
          &:before {
            position: absolute;
            left: 0;
            top: ($gutterHeight / 4);
            color: $blue;
            text-decoration: none !important;
            @include cw_icon_font("\e0be");
          }
          &.open {
            &:before {
              content: "\e0bc" !important;
            }
          }
        }
      }
      .answer {
        position: relative;
        margin-bottom: $gutterHeight;
        padding-left: $gutterWidth;
      }
    }
  }
}

// Ad banner
.cw-ad_banner {
  background-color: $blueDark;
  color: $blueLight;
  .cw-container {
    padding-top: ($gutterHeight / 2);
    padding-bottom: ($gutterHeight / 2);
  }
  .cw-content {
    @include flexbox_justify();
    @include cw_mediaquery("mobile") {
      display: block;
    }
  }
  .cw-ad_banner__text {
    padding-top: ($gutterHeight * 0.4);
    @include cw_mediaquery("tablet_and_smaller") {
      padding-top: 0;
    }
    @include cw_mediaquery("mobile") {
      @include font-size-s();
      padding-bottom: ($gutterHeight / 4);
    }
  }
  .cw-ad_banner__buttons {
    padding-left: $gutterWidth;
    text-align: right;
    a {
      white-space: nowrap;
    }
    @include cw_mediaquery("mobile") {
      float: none;
      padding-left: 0;
      a {
        display: block;
      }
    }
  }
  &.hover {
    color: $white;
  }
}
