// #======================================#
// #     _____       _ _       _  _       #
// #    |  __ \     (_) |     | || |      #
// #    | |__) |__ _ _| |___  | || |_     #
// #    |  _  // _` | | / __| |__   _|    #
// #    | | \ \ (_| | | \__ \    | |      #
// #    |_|  \_\__,_|_|_|___/    |_|      #
// #                                      #
// #======================================#

@page {
  margin: 0.5cm;
}

#cw_navigation_container,
#masthead .main_header_content,
#cw-searchbox,
#cw_nav_bar,
#cw_to_top,
#usp,
.cw_header_container h1,
.small-nav,
.cw-footer,
.complete_profile_content,
.modal,
.cw-skip_nav {
  display: none !important;
}

body {
  padding-top: 125px;
}

.cw_header_container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  background-color: transparent !important;
  #logo {
    position: static !important;
    margin: 0 auto;
  }
}
